<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="__PUBLIC__/ht/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/ht/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/ht/plugins/xheditor/xheditor-1.2.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/ht/plugins/xheditor/xheditor_lang/zh-cn.js"></script>
</head>
<body>
<div class="aaa_pts_show_1">【 户型管理 】</div>
<div class="aaa_pts_show_2">
    <div>
       <div class="aaa_pts_4"><a href="index">户型管理</a></div>
       <div class="aaa_pts_4"><a href="add">添加户型</a></div>
    </div>
    <div class="aaa_pts_3">
      <form action="{:U('save')}" method="post" onsubmit="return ac_from();">
      <ul class="aaa_pts_5">
        <?php if(!$cate_info || intval($cate_info['tid'])!=0) { ?>
        <li>
            <div class="d1">所属分类:</div>
            <div id="append">
              <select class="inp_1" name="tid" id="tid">
                <volist name='list' id="op1">
                  <if condition="$op1.id eq $cate_info['tid']">
                    <option value="{$op1.id}" id="cate_{$op1.id}" name="one" selected="selected">- {$op1.name}</option>
                  <else />
                    <option value="{$op1.id}" id="cate_{$op1.id}" name="one">- {$op1.name}</option>
                  </if>
                </volist>
              </select> 
            </div>
         </li>
         <?php } ?>
         <li>
            <div class="d1">户  型:</div>
            <div>
              <input class="inp_1" name="name" id="name" value="<?php echo $cate_info['name']; ?>"/>
            </div>
         </li>
         <!-- <li>
            <div class="d1">排 序:</div>
            <div>
              <input class="inp_1" name="sort" id="sort" value="<?php //echo $cate_info['sort']; ?>"/>
            </div>
         </li> -->
         <li><input type="submit" name="submit" value="提交" class="aaa_pts_web_3" border="0">
         <input type="hidden" name="cid" id="cid" value="<?php echo $cate_info['id']; ?>">
         </li>
      </ul>
      </form>
         
    </div>
    
</div>
<script>
function ac_from(){
  //判断栏目名称
  var name=document.getElementById('name').value;
  if(name.length<1){
	  alert('分类名不能为空.');
	  return false;
	} 
  return true;
}

//初始化编辑器
$('#concent').xheditor({
	skin:'nostyle'
});
</script>
</body>
</html>