<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="__PUBLIC__/ht/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/ht/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/ht/js/action.js"></script>
</head>
<body>

<div class="aaa_pts_show_1">【 户型管理 】</div>

<div class="aaa_pts_show_2">
	<div>
       <div class="aaa_pts_4"><a href="index">户型管理</a></div>
       <div class="aaa_pts_4"><a href="add">添加户型</a></div>
    </div>

    <div class="aaa_pts_3">
      <div class="pro_4 bord_1">
         <div class="pro_5">户  型：<input type="text" class="inp_1 inp_6" id="name" value="{$cat_name}"></div>
         <div class="pro_5"><input type="button" class="aaa_pts_web_3" value="搜 索" style="margin:0;" onclick="product_option(0);"></div>
      </div>
	  <span style="color:red">备注：为了方便管理，产品分类请在 产品管理->产品分类管理 添加修改</span>
      <table class="pro_3">
         <tr class="tr_1">
           <td style="width:100px;">ID</td>
           <td>
            <p>产品分类</p>
            <p>&nbsp; &nbsp; &nbsp;---户型</p>
           </td>
           <td style="width:300px;">操作</td>
         </tr>
         <tbody id="news_option">
          <!-- 遍历 -->
            <volist name='list' id='tr1'>
              <tr>
               <td>{$tr1.id}</td>
               <td style="text-align:center; padding-left:15px;">{$tr1.name}</td>
               <td></td>
              </tr>
              <volist name='tr1["list2"]' id='tr2'>
                <tr data-id="tr_{$tr2.tid}">
                 <td>{$tr2.id}</td>
                 <td style="text-align:center; padding-left:35px;"><label style="text-align:left;">&nbsp; &nbsp; &nbsp;-- {$tr2.name}</label></td>
                 <td>
                  <a href="{:U('add')}?cid={$tr2.id}">修改</a> | 
                  <a onclick="del_id_urls({$tr2.id})">删除</a>
                 </td>
                </tr>
              </volist>
            </volist>
            <!-- 遍历 -->
         </tbody>
         <tr>
            <td colspan="10" class="td_2">
              {$page_index}
            </td>
         </tr>
      </table>
    </div>
    
</div>
<script>
function del_id_urls(id){
   if(confirm("确认删除吗？"))
   {
	  location='{:U("del")}?did='+id;
   }
}
</script>
</body>
</html>