<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="__PUBLIC__/ht/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/ht/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/ht/js/action.js"></script>
</head>
<body>

<div class="aaa_pts_show_1">【 分类管理 】</div>

<div class="aaa_pts_show_2">
	<div>
       <div class="aaa_pts_4"><a href="index">分类管理</a></div>
       <div class="aaa_pts_4"><a href="add">添加分类</a></div>
    </div>

    <div class="aaa_pts_3">
      <div class="pro_4 bord_1">
         <div class="pro_5">分类名称：<input type="text" class="inp_1 inp_6" id="name" value="{$cat_name}"></div>
         <div class="pro_5"><input type="button" class="aaa_pts_web_3" value="搜 索" style="margin:0;" onclick="product_option(0);"></div>
      </div>
	  <span style="color:red">备注：排序越大越靠前</span>
      <table class="pro_3">
         <tr class="tr_1">
           <td style="width:100px;">分类ID</td>
           <td>分类名称</td>
           <td style="width:150px;">属性</td>
           <td style="width:120px;">排序</td>
           <td style="width:300px;">操作</td>
         </tr>
         <tbody id="news_option">
          <!-- 遍历 -->
            <volist name="list" id="v">
              <tr data-id="{$v.id}" data-name="{$v.name}">
               <td>{$v.id}</td>
               <td>{$v.name}</td>
               <td><if condition="$v.type eq 1"><lable class="label succ">已推荐</lable></if></td>
               <td>{$v.sort}</td>
               <td class="obj_1">
                 <a class="btn cls" style="width:40px;" href="{:U('set_tj')}?tj_id={$v.id}">推荐</a>&nbsp;&nbsp;|
                 <a class="btn cls" style="width:40px;" href="{:U('add')}?cid={$v.id}">修改</a>&nbsp;&nbsp;|
                 <a class="btn cls" onclick="del_id_urls({$v.id});" style="width:40px;">删除</a>
               </td>
              </tr>
            </volist>
            <!-- 遍历 -->
         </tbody>
         <tr>
            <td colspan="10" class="td_2">
              {$page_index}
            </td>
         </tr>
      </table>
    </div>
    
</div>
<script>
function del_id_urls(id){
   if(confirm("确认删除吗？"))
   {
	  location='{:U("del")}?did='+id;
   }
}
</script>
</body>
</html>